body {
    background-color: antiquewhite;
}

.dice circle {
    fill: #F57C00;
    transition: all .3s;
    transform-origin: 25px 25px;
}

.dice:hover circle {
    transform: scale(1.1);
}

.dice5 g {
    transition: all .3s;
    transform-origin: 100px 100px;
}

.dice5:hover g {
    transform: scale(1.2);
}

.patterntext {
    font-size: 4rem;
    font-weight: bold;
}

.cls-1{
    fill:#ffe269;
}

.cls-2{
    fill:#fff;
}

.cls-3{
    fill:#fcf0c0;
}

@keyframes move {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(10px)
    }
    1000% {
        transform: translateX(0)
    }
}

.pupil {
    animation: move 1s infinite;
}

.smiley-wrap svg:hover .pupil {
    animation-play-state: paused;
}